<br>
<div class="col-md-offset-3	col-md-6 well">
	<p>
	  <strong>Description:</strong>
	  <%= @pin.description %>
	</p>
	<hr>
	<%= link_to 'Edit', edit_pin_path(@pin) %> |
	<%= link_to 'Back', pins_path %>
</div>
