<div class="footer">
	<small>
		<%= link_to 'Think and Share', 'http://google.com' %>
		by <%= link_to 'Bryce', 'http://YetTo.Com' %>
	</small>

	<small class='pull-right'>&copy; copyright Bryce Jobs <%= Time.now.year %></small>
</div>