<div class="footer">
	<small>
		<%= link_to 'OneMonthRails', 'http://google.com' %>
		by <%= link_to 'Bryce', 'http://YetTo.Com' %>
	</small>

	<small class='pull-right'>&copy; copyright KNB <%= Time.now.year %></small>
</div>