<div class="home">
	
	<div class="jumbotron">
		<p>
			<h1>Welcome to <em>Talk and Share</em></h1>
			 <h3>
			 	Where you share your ideas through amazing photos
			 </h3>
			
		</p>
		<br>
		<br>
		<p>
			<%= link_to "Sign Up Now",  new_user_registration_path, class: 'btn btn-large btn-primary' %>
		</p>
		<!-- <p>
				<%= link_to "Sign In",  new_user_session_path, class: 'btn btn-large btn-info' %> if already member
		</p> -->
	</div>

</div>

