<div class="container">
	<div class="jumbotron">
		<p>
			<h1>Welcome to my rails Application</h1>
			You have found the link for the 
			<%= link_to 'OneMonthRails', 'Http://google.com' %>
		</p>
		<p>
			<%= link_to "Sign Up Now",  "#", class: 'btn btn-large btn-primary' %>
			welcome to Mr Younoussa
		</p>
	</div>
</div>

