@import url(//fonts.googleapis.com/css?family=Muli);
@import url(//fonts.googleapis.com/css?family=Kreon);
$font-family-base: Kreon, Muli, Helvetica;

@import "bootstrap-sprockets";
/*@import "bootstrap/variables";*/
@import "bootstrap";



.header {
	margin-top: 10px;
}

.footer{
	margin-top: 15px;
}

/* require for Jquery Masonry */ 

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-mz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 275px;
}

.box img{
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-mz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.box .description{
	margin-top: 15px;
}

