@import url(//fonts.googleapis.com/css?family=Muli);
@import url(//fonts.googleapis.com/css?family=Kreon);
$font-family-base: Kreon, Muli, Helvetica;

@import "bootstrap-sprockets";
/*@import "bootstrap/variables";*/
@import "bootstrap";



.header {
	margin-top: 10px;

}

.home .jumbotron{
	background-image: url(asset-path('share_idea.jpg'));
	min-height: 400px;
	background-position: center;
}

.home h1{
	color: white;
} 

.home h3{
	margin-left:  10px;
	color: #ED0678;
}

.home h1 em{
	color: green;
}

.footer{
	margin-top: 15px;
}

/* require for Jquery Masonry */ 

.box{
	margin: 5px;
	padding: 5px;
	font-size: 11px;
	line-height: 1.4em;
	float: left;
	-mz-border-radius: 5px;
	-ms-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #444;
	width: 275px;
}

.box img{
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-mz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.box .description{
	margin-top: 15px;
}

